   {# The next section iterates over all of the content types, and prints a list
        of the five latest records of each of them. The 'magic' happens in the
        setcontent tag.. ct.slug ~ "/latest/3" concatenates the slug of the
        content type with /latest/3, so it becomes something like "pages/latest/3".
        The 'else' in the inner for-loop is only used if there are no 'records',
        so we can use it to print a helpful message.
        Lastly, "path('listing', {'contentTypeSlug': ct.slug})" will output something like '/pages',
        effectively creating a working link to that contenttpye's listing page. #}

{% set ct =  config.get('contenttypes').pets %}
{% setcontent records = 'pets' ~ "/latest/9" %}

<div class="header-grid regular-grid pets-grid  full">
    {% for record in records %}
        <div class="block pets-grid-item">
            <img src="{{ record|thumbnail(400, 400) }}" title="{{ record|title }}" alt="[{{ record.specie }}] {{ record|title }}">
             <a href="{{ record|link(true) }}">{{ record|title }} - {{ record|link }}</a>


            {% dump(record.image) %}
        </div>

    {% else %}
        {{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}
    {% endfor %}
</div>