<header id="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand flex-grow-1" href="{{ path('homepage') }}">
            {{ config.get('general/sitename') }}
            {% if config.has('general/payoff') %}
            - {{ config.get('general/payoff') }}
            {% endif %}
        </a>

        <div class="social-md-menu d-none d-md-flex d-lg-none">
            {{ menu('social', template = 'partials/_social_menu.twig') }}
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            v-on:click="openNavMenu($event)">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            {{ menu('main', template = 'partials/_main_menu.twig') }}
            <span class="d-none d-lg-block navbar-text mx-3">|</span>
            <div class="social-sm-menu d-md-none d-lg-block">
                {{ menu('social', template = 'partials/_social_menu.twig') }}
            </div>
        </div>
    </nav>
</header>