<ul class="main-menu navbar-nav">
    {% for item in menu %}
    <li class="nav-item index-{{ loop.index }} {{ loop.first ? ' first': '' }} {{ loop.last ? ' last' : '' -}}">
        <a href="{{ item.uri }}" title='{{ item.title }}' class='nav-link {{ item.class }}'>
            {% if item.class == 'social' %}
            <i class="social fab fa-lg fa-{{item.label}}"></i>
            {% else %}
            {{- item.label -}}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>