{# The main menu loop: Iterates over the items, calling `display_menu_item` #}
<ul class="menu social">
{% for item in menu %}
    <li class="index-{{ loop.index -}}
        {{ loop.first ? ' first' -}}
        {{ loop.last ? ' last' -}}">

        <a href="{{ item.uri }}" title='{{ item.title }}' class='{{ item.class }}'>
            {% if item.class == 'social' %}
                <i class="social icon icon-{{item.label}}"></i>
            {% else %}
                {{- item.title -}}{{- item.label -}}
            {% endif %}
        </a>
    </li>
{% endfor %}
</ul>

